<h1>投稿一覧</h1>

<% @golfclubs.each do |golfclub| %>

  <p>タイトル</p>
  <span>
    <%= link_to golfclub.title, golfclub_path(golfclub.id) %>
  </span>

  <p>投稿ユーザー画像：<%= image_tag golfclub.user.get_profile_image(100,100) %></p>

  <p>画像</p>
  <% if golfclub.image.attached? %>
    <%= image_tag golfclub.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image1', size: "100x100" %>
  <% end %>

<% end %>
